{
    "token": "fefsdgfsdgsgs.EFdzÖFzngorishgrpingkrsngmsr",
    "botname": "MyBot#0215",
    "ClientID": "254946654633543848315",
    "language": "fr",
    "default_emote": "robot",
    "prompt": ":"
}

